<%- include('./partials/header') %>

<div class="text-center">
  <h1 class="mb-4">Mensagem do Dia</h1>
  <form action="/quote" method="GET">
    <button class="btn btn-light btn-lg">Gerar Citação</button>
  </form>
</div>

<%- include('./partials/footer') %>
