<%- include('./partials/header') %>

<div class="text-center">
  <h2 class="mb-4">Citação de Ron Swanson</h2>
  <blockquote class="blockquote fs-4 fst-italic">"<%= quote %>"</blockquote>
  <a href="/" class="btn btn-light mt-4">Voltar</a>
</div>

<%- include('./partials/footer') %>
