<%- include('../partials/header')%>
<main>

</main>
<div class="ui segment">
<h1>Sign in Page</h1>
    <h4>
        Qual o seu username?
    </h4>
    <p>
        <a class="item" href="/users/userid">
            Sim
        </a>
    </p>
</div>

<%- include('../partials/footer')%>
 </body>
</html>