<%- include('../partials/header')%>
<main>

</main>
<div class="ui segment">
<h1>Users Page</h1>
    <h4>
        Possui uma conta? 
    </h4>
    <p>
        <a class="item" href="/users/signin">
            Sim, possuo (sign in)
        </a>
    </p>
    <p>
        <a class="item" href="/users/signup">
            Não possuo (sign up)
        </a>
    </p>
</div>

<%- include('../partials/footer')%>
 </body>
</html>